body {
  font-family: Arial;
  background: #f0f0f0;
  padding: 40px;
}

h1 {
  text-align: center;
}

.cart-item {
  background: white;
  padding: 15px;
  margin: 10px auto;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.checkout {
  display: block;
  width: 200px;
  margin: 30px auto;
  text-align: center;
  padding: 12px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
