body {
  font-family: Arial, sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("images/cover.jpg");
  background-size: cover;
  /* Makes image fill screen */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* No repeating */
  background-attachment: fixed;
  /* Optional: parallax effect */
}


header {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn {
  color: white;
  text-decoration: none;
  background: #c42727;
  padding: 8px 14px;
  border-radius: 5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 40px;
  gap: 25px;
}


.card {
  background: rgba(16, 1, 1, 0.674);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(250px);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card h3,
p {
  color: rgb(251, 249, 249);
  font-weight: bolder;
}
.card button{
  background-color: rgb(13, 199, 91);
}



.card img {
  height: 60%;
  width: 100%;
}

button {
  background: #111;
  color: white;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 5px;
}
.footer {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  margin-top: 60px;
  padding: 40px 0 10px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.footer-box h2,
.footer-box h3 {
  margin-bottom: 15px;
  color: #ff6b6b;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #ff6b6b;
}

.footer-bottom {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 13px;
}
