body {
  font-family: Arial, sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("images/cover.jpg");
  background-size: cover;
  /* Makes image fill screen */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* No repeating */
  background-attachment: fixed;
  /* Optional: parallax effect */
}


header {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn {
  color: white;
  text-decoration: none;
  background: #c42727;
  padding: 8px 14px;
  border-radius: 5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 40px;
  gap: 25px;
}


.card {
  background: rgba(16, 1, 1, 0.674);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(250px);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card h3,
p {
  color: rgb(251, 249, 249);
  font-weight: bolder;
}
.card button{
  background-color: rgb(13, 199, 91);
}



.card img {
  height: 60%;
  width: 100%;
}

button {
  background: #111;
  color: white;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 5px;
}